---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/capsules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"15bf-rv4d6F5dMgu4NTs/jf7A6+71OcU"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 4ms
    body:
      encoding: ASCII-8BIT
      string: '[{"reuse_count":0,"water_landings":1,"land_landings":0,"last_update":"Hanging
        in atrium at SpaceX HQ in Hawthorne ","launches":["5eb87cdeffd86e000604b330"],"serial":"C101","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf35918ed873b2664"},{"reuse_count":0,"water_landings":1,"land_landings":0,"last_update":"On
        display at KSC Visitor''s Center ","launches":["5eb87cdfffd86e000604b331"],"serial":"C102","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf3591882af3b2665"},{"reuse_count":0,"water_landings":1,"land_landings":0,"last_update":"Location
        and status unknown","launches":["5eb87ce0ffd86e000604b332"],"serial":"C103","status":"unknown","type":"Dragon
        1.0","id":"5e9e2c[...]
