---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/company
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2ea-KLET10RDtc2RJI9HB4muV6SDyUU"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"headquarters":{"address":"Rocket Road","city":"Hawthorne","state":"California"},"links":{"website":"https://www.spacex.com/","flickr":"https://www.flickr.com/photos/spacex/","twitter":"https://twitter.com/SpaceX","elon_twitter":"https://twitter.com/elonmusk"},"name":"SpaceX","founder":"Elon
        Musk","founded":2002,"employees":9500,"vehicles":4,"launch_sites":3,"test_sites":3,"ceo":"Elon
        Musk","cto":"Elon Musk","coo":"Gwynne Shotwell","cto_propulsion":"Tom Mueller","valuation":74000000000,"summary":"SpaceX
        designs, manufactures and launches advanced rockets and spacecraft. The company
        was founded in 2002 to revolutionize space technology, with the ultimate goal
        of enabling people to live on other planets.","id":"5eb75edc42fea42237d7f3ed"}'
  recorded_at: Thu, 22 Apr 2021 03:01:46 GMT
recorded_with: VCR 6.0.0
