---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/cores/5e9e289df35918033d3b2623
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11d-kgKG26jpakttYh5FdpmbpLQR+p8"
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      string: '{"block":null,"reuse_count":0,"rtls_attempts":0,"rtls_landings":0,"asds_attempts":0,"asds_landings":0,"last_update":"Engine
        failure at T+33 seconds resulted in loss of vehicle","launches":["5eb87cd9ffd86e000604b32a"],"serial":"Merlin1A","status":"lost","id":"5e9e289df35918033d3b2623"}'
  recorded_at: Thu, 22 Apr 2021 03:01:47 GMT
recorded_with: VCR 6.0.0
