---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/capsules/5e9e2c5bf35918ed873b2664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2-4fPQ4D99F3xS0/otb+xRJGoNJIE"
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 4ms
    body:
      encoding: ASCII-8BIT
      string: '{"reuse_count":0,"water_landings":1,"land_landings":0,"last_update":"Hanging
        in atrium at SpaceX HQ in Hawthorne ","launches":["5eb87cdeffd86e000604b330"],"serial":"C101","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf35918ed873b2664"}'
  recorded_at: Thu, 22 Apr 2021 03:02:26 GMT
recorded_with: VCR 6.0.0
