---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/payloads/5eb0e4b5b6c3bb0006eeb1e1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2cf-n9ytA/sSBTV9l92HD1A/dj1BkXY"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 9ms
    body:
      encoding: ASCII-8BIT
      string: '{"dragon":{"capsule":null,"mass_returned_kg":null,"mass_returned_lbs":null,"flight_time_sec":null,"manifest":null,"water_landing":null,"land_landing":null},"name":"FalconSAT-2","type":"Satellite","reused":false,"launch":"5eb87cd9ffd86e000604b32a","customers":["DARPA"],"norad_ids":[],"nationalities":["United
        States"],"manufacturers":["SSTL"],"mass_kg":20,"mass_lbs":43,"orbit":"LEO","reference_system":"geocentric","regime":"low-earth","longitude":null,"semi_major_axis_km":null,"eccentricity":null,"periapsis_km":400,"apoapsis_km":500,"inclination_deg":39,"period_min":null,"lifespan_years":null,"epoch":null,"mean_motion":null,"raan":null,"arg_of_pericenter":null,"mean_anomaly":null,"id":"5eb0e4b5b6c3bb0006eeb1e1"}'
  recorded_at: Thu, 22 Apr 2021 03:01:50 GMT
recorded_with: VCR 6.0.0
