---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/crew/5ebf1a6e23a9a60006e03a7a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9-M/Tmhmn4z6IZkEpJ8zpXvuJqvRc"
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Robert Behnken","agency":"NASA","image":"https://imgur.com/0smMgMH.png","wikipedia":"https://en.wikipedia.org/wiki/Robert_L._Behnken","launches":["5eb87d46ffd86e000604b388"],"status":"active","id":"5ebf1a6e23a9a60006e03a7a"}'
  recorded_at: Thu, 22 Apr 2021 03:02:00 GMT
recorded_with: VCR 6.0.0
