---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/history/5f6fb2cfdcfdf403df37971e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"144-IUHZVZbL23NYQnXjNI9DfCrC/es"
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 4ms
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"article":"http://www.spacex.com/news/2013/02/11/flight-4-launch-update-0"},"title":"Falcon
        reaches Earth orbit","event_date_utc":"2008-09-28T23:15:00Z","event_date_unix":1222643700,"details":"Falcon
        1 becomes the first privately developed liquid-fuel rocket to reach Earth
        orbit.","id":"5f6fb2cfdcfdf403df37971e"}'
  recorded_at: Thu, 22 Apr 2021 03:01:55 GMT
recorded_with: VCR 6.0.0
