---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/launchpads/5e9e4501f5090910d4566f83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"25c-6s0Gx0DYP0aveoFbexQx+FvmOlg"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"VAFB SLC 3W","full_name":"Vandenberg Air Force Base Space
        Launch Complex 3W","locality":"Vandenberg Air Force Base","region":"California","timezone":"America/Los_Angeles","latitude":34.6440904,"longitude":-120.5931438,"launch_attempts":0,"launch_successes":0,"rockets":["5e9d0d95eda69955f709d1eb"],"launches":[],"details":"SpaceX''s
        original west coast launch pad for Falcon 1. It was used in a static fire
        test but was never employed for a launch, and was abandoned due to range scheduling
        conflicts arising from overflying other active pads.","status":"retired","id":"5e9e4501f5090910d4566f83"}'
  recorded_at: Thu, 22 Apr 2021 03:01:42 GMT
recorded_with: VCR 6.0.0
