---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/ships/5ea6ed2d080df4000697c901
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28d-pfI7tImaQrLbsuZd9t4J0mYIRhA"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"legacy_id":"AMERICANCHAMPION","model":null,"type":"Tug","roles":["Support
        Ship","Barge Tug"],"imo":7434016,"mmsi":367020820,"abs":571252,"class":7604342,"mass_kg":266712,"mass_lbs":588000,"year_built":1976,"home_port":"Port
        of Los Angeles","status":"","speed_kn":null,"course_deg":null,"latitude":null,"longitude":null,"last_ais_update":null,"link":"https://www.marinetraffic.com/en/ais/details/ships/shipid:434663/mmsi:367020820/imo:7434016/vessel:AMERICAN_CHAMPION","image":"https://i.imgur.com/woCxpkj.jpg","launches":["5eb87cdeffd86e000604b330","5eb87cdfffd86e000604b331"],"name":"American
        Champion","active":false,"id":"5ea6ed2d080df4000697c901"}'
  recorded_at: Thu, 22 Apr 2021 03:02:15 GMT
recorded_with: VCR 6.0.0
