---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/launches/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8a8-nlDBI7vICg/U0wtV7i+uxUgu0j0"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"fairings":{"reused":true,"recovery_attempt":true,"recovered":null,"ships":["6059166413f40e27e8af34b6","5ea6ed2f080df4000697c90b","5ea6ed2e080df4000697c908"]},"links":{"patch":{"small":"https://imgur.com/BrW201S.png","large":"https://imgur.com/573IfGk.png"},"reddit":{"campaign":"https://www.reddit.com/r/spacex/comments/jhu37i/starlink_general_discussion_and_deployment_thread/","launch":"https://www.reddit.com/r/spacex/comments/mlitqf/rspacex_starlink23_launch_discussion_updates/","media":null,"recovery":"https://www.reddit.com/r/spacex/comments/k2ts1q/rspacex_fleet_updates_discussion_thread/"},"flickr":{"small":[],"original":["https://live.staticflickr.com/65535/51101836837_8671b88722_o.jpg","https://live.staticflickr.com/65535/51101836832_e151d33d66_o.jpg"]},"presskit":null,"webcast":"https://youtu.be/Uy9Jn-3vuPs","youtube_id":"Uy9Jn-3vuPs","article":"https://spaceflightnow.com/2021/04/07/spacex-launches-its-100th-mission-from-floridas-space-coast/","wikipedia":"https://en.wikipedia.org/wiki/Starlink"},"static_fire_date_utc":null,"static_fire_date_unix":null,"tbd":false,"net":false,"window":0,"rocket":"5e9d0d95eda69973a809d1ec","success":true,"details":"This
        mission launches the 23rd batch of operational Starlink satellites, which
        are version 1.0, from or SLC-40 or LC-39A. It is the 24th Starlink launch
        overall. The satellites will be delivered to low Earth orbit and will spend
        a few weeks maneuvering to their operational altitude. The booster is expected
        to land on an ASDS.","crew":[],"ships":["5ea6ed30080df4000697c913","5ee68c683c228f36bd5809b5","5ea6ed2f080df4000697c90b"],"capsules":[],"payloads":["60428b02c041c16716f73cde"],"launchpad":"5e9e4501f509094ba4566f84","auto_update":true,"launch_library_id":"385455f4-067e-4c24-9937-ca8283ed3307","failures":[],"flight_number":122,"name":"Starlink-23
        (v1.0)","date_utc":"2021-04-07T16:34:00.000Z","date_unix":1617813240,"date_local":"2021-04-07T12:34:00-04:00","date_precision":"hour","upcoming":false,"cores":[{"core":"5e9e28a7f3591817f23b2663","flight":7,"gridfins":true,"legs":true,"reused":true,"landing_attempt":true,"landing_success":true,"landing_type":"ASDS","landpad":"5e9e3032383ecb6bb234e7ca"}],"id":"60428ac4c041c16716f73cd8"}'
  recorded_at: Thu, 22 Apr 2021 03:02:14 GMT
recorded_with: VCR 6.0.0
