---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/launches/next
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"80c-1kipKmZLCafhpk6Q1XqwGSh3+f4"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"fairings":null,"links":{"patch":{"small":"https://imgur.com/NPFaJDF.png","large":"https://imgur.com/65vp2PE.png"},"reddit":{"campaign":"https://www.reddit.com/r/spacex/comments/lrx7ez/crew2_launch_campaign_thread/","launch":"https://www.reddit.com/r/spacex/comments/mvcst9/rspacex_crew2_launch_discussion_updates_thread/","media":null,"recovery":null},"flickr":{"small":[],"original":[]},"presskit":null,"webcast":null,"youtube_id":null,"article":null,"wikipedia":"https://en.wikipedia.org/wiki/SpaceX_Crew-2"},"static_fire_date_utc":"2021-04-17T11:01:00.000Z","static_fire_date_unix":1618657260,"tbd":false,"net":false,"window":0,"rocket":"5e9d0d95eda69973a809d1ec","success":null,"details":"SpaceX
        launches the second operational mission of its Crew Dragon vehicle as part
        of NASA''s Commercial Crew Program, carrying NASA astronauts Shane Kimbrough,
        Megan McArthur, Thomas Pesquet, and Akihiko Hoshide to the International Space
        Station. The Falcon 9 and Crew Dragon lift off from LC-39A, Kennedy Space
        Center. Both the booster and the capsule have flown previously, each a first
        for a commercial crew flight. The booster for this mission is expected to
        land on an ASDS. The mission will be complete with the safe return of the
        astronauts to Earth.","crew":["5fe3ba5fb3467846b3242188","5fe3bb01b3467846b3242189","5fe3bc3db3467846b324218b","5fe3bc8ab3467846b324218c"],"ships":["5ea6ed2e080df4000697c909","5ea6ed30080df4000697c913"],"capsules":["5e9e2c5df359188aba3b2676"],"payloads":["5fe3b3adb3467846b3242173"],"launchpad":"5e9e4502f509094188566f88","auto_update":true,"launch_library_id":"32dcb5ad-7609-4fc0-8094-768ee5c2ebe0","failures":[],"flight_number":123,"name":"Crew-2","date_utc":"2021-04-22T10:11:00.000Z","date_unix":1619086260,"date_local":"2021-04-22T06:11:00-04:00","date_precision":"hour","upcoming":true,"cores":[{"core":"5f57c53d0622a6330279009f","flight":2,"gridfins":true,"legs":true,"reused":true,"landing_attempt":true,"landing_success":null,"landing_type":"ASDS","landpad":"5e9e3032383ecb6bb234e7ca"}],"id":"5fe3af58b3467846b324215f"}'
  recorded_at: Thu, 22 Apr 2021 03:02:13 GMT
recorded_with: VCR 6.0.0
