---
http_interactions:
- request:
    method: post
    uri: https://api.spacexdata.com/v4/roadster/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"624-50X+eJlswI3gM0Qd35JFEOcUt84"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 6ms
    body:
      encoding: ASCII-8BIT
      string: '{"flickr_images":["https://farm5.staticflickr.com/4615/40143096241_11128929df_b.jpg","https://farm5.staticflickr.com/4702/40110298232_91b32d0cc0_b.jpg","https://farm5.staticflickr.com/4676/40110297852_5e794b3258_b.jpg","https://farm5.staticflickr.com/4745/40110304192_6e3e9a7a1b_b.jpg"],"name":"Elon
        Musk''s Tesla Roadster","launch_date_utc":"2018-02-06T20:45:00.000Z","launch_date_unix":1517949900,"launch_mass_kg":1350,"launch_mass_lbs":2976,"norad_id":43205,"epoch_jd":2459325.191331019,"orbit_type":"heliocentric","apoapsis_au":1.664427099518139,"periapsis_au":0.985765479016247,"semi_major_axis_au":37.19471998893942,"eccentricity":0.2560801150825075,"inclination":1.075799864099251,"longitude":316.9275576767713,"periapsis_arg":177.6804787576159,"period_days":557.1467270120352,"speed_kph":6212.055910051224,"speed_mph":3859.991392884439,"earth_distance_km":45195540.982870415,"earth_distance_mi":28083198.496067174,"mars_distance_km":258142109.3088679,"mars_distance_mi":160402020.60336056,"wikipedia":"https://en.wikipedia.org/wiki/Elon_Musk%27s_Tesla_Roadster","video":"https://youtu.be/wbSwFU6tY1c","details":"Elon
        Musk''s Tesla Roadster is an electric sports car that served as the dummy
        payload for the February 2018 Falcon Heavy test flight and is now an artificial
        satellite of the Sun. Starman, a mannequin dressed in a spacesuit, occupies
        the driver''s seat. The car and rocket are products of Tesla and SpaceX. This
        2008-model Roadster was previously used by Musk for commuting, and is the
        only consumer car sent into space.","id":"5eb75f0842fea42237d7f3f4"}'
  recorded_at: Thu, 22 Apr 2021 03:02:03 GMT
recorded_with: VCR 6.0.0
