---
http_interactions:
- request:
    method: post
    uri: https://api.spacexdata.com/v4/payloads/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1e77-9bsxRvk1dFL3fkkl+bqqT4TBKUA"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 7ms
    body:
      encoding: ASCII-8BIT
      string: '{"docs":[{"dragon":{"capsule":null,"mass_returned_kg":null,"mass_returned_lbs":null,"flight_time_sec":null,"manifest":null,"water_landing":null,"land_landing":null},"name":"FalconSAT-2","type":"Satellite","reused":false,"launch":"5eb87cd9ffd86e000604b32a","customers":["DARPA"],"norad_ids":[],"nationalities":["United
        States"],"manufacturers":["SSTL"],"mass_kg":20,"mass_lbs":43,"orbit":"LEO","reference_system":"geocentric","regime":"low-earth","longitude":null,"semi_major_axis_km":null,"eccentricity":null,"periapsis_km":400,"apoapsis_km":500,"inclination_deg":39,"period_min":null,"lifespan_years":null,"epoch":null,"mean_motion":null,"raan":null,"arg_of_pericenter":null,"mean_anomaly":null,"id":"5eb0e4b5b6c3bb0006eeb1e1"},{"dragon":{"capsule":null,"mass_returned_kg":null,"mass_returned_lbs":null,"flight_time_sec":null,"manifest":null,"water_landing":null,"land_landing":null},"name":"DemoSAT","type":"Satellite","reused":false,"launch":"5eb87cdaffd86e000604b32b","customers":["DARPA"],"norad_ids":[],"nationalities":["United
        States"],"manufacturers":["SpaceX"],"mass_kg":null,"mass_lbs":null,"orbit":"LEO","reference_system":"geocentric","regime":"low-earth","longitude":null,"semi_ma[...]
