---
http_interactions:
- request:
    method: post
    uri: https://api.spacexdata.com/v4/payloads/query
    body:
      encoding: UTF-8
      string: '{"query":{"query":{"date_utc":{"$gte":"2010-06-22T00:00:00.000Z","$lte":"2010-06-25T00:00:00.000Z"}}},"options":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1-rfxmUpOy4ZTmFcgG+JEdUMQM5uY"
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      string: '{"docs":[],"totalDocs":0,"offset":0,"limit":10,"totalPages":1,"page":1,"pagingCounter":1,"hasPrevPage":false,"hasNextPage":false,"prevPage":null,"nextPage":null}'
  recorded_at: Thu, 22 Apr 2021 03:01:51 GMT
recorded_with: VCR 6.0.0
